.cardLeauge {
    background: linear-gradient(135deg, rgb(240, 253, 255), rgb(220, 233, 236));
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    padding: 10px;

}

.cardLeauge:hover {
    transform: scale(1.05);
    /* Card yukarı kalkar */
    background: linear-gradient(135deg, rgb(220, 233, 236), rgb(200, 213, 216));
    /* Hover ile renk değişimi */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.txtTitle {
    color: rgb(102, 77, 0);
    font-weight: bold;
    cursor: pointer;
}

.txtTitle:hover {
    color: rgb(136, 144, 23);
}



.card-title,
.card-text {
    overflow: hidden;
    /* Taşan metni gizler */
    white-space: nowrap;
    /* Metni tek satırda tutar */
    width: 100%;
    font-size: 13px;
    font-weight: bold;
}

.text-fixture {
    font-size: 13px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
}

.table-text {
    overflow: hidden;
    /* Taşan metni gizler */
    white-space: nowrap;
    /* Metni tek satırda tutar */
    width: 100%;
    font-size: 13px;
    font-weight: bold;
}


.myNavbar {
    position: fixed;
    /* Navbar'ı sabitler */
    top: 0;
    /* Ekranın en üstüne yerleştirir */
    width: 100%;
    /* Tam genişlik kaplar */
    z-index: 1030;
    /* Diğer öğelerin üstünde görünür */
}

.myNavbar.shrink {
    padding: 0.5rem 1rem;
    /* Küçülen durumdaki padding */
}

.sticky-panel {
    position: sticky;
    top: var(--navbar-height, 0);
    /* Navbar yüksekliği kadar boşluk bırak */
    /* Navbar'ın hemen altında olacak şekilde ayarla */
}

.genislikFull {
    padding-left: 0%;
    padding-right: 0%;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* background-color: rgb(45, 45, 45); */
    /* color: aliceblue; */
    /* Yatay scroll bar'ı gizler */
}


.silik-yazi {
    color: rgb(107, 107, 107);
    font-size: 7px;
}

.vurgulu-yazi {
    overflow: hidden;
    /* Taşan metni gizler */
    white-space: nowrap;
    /* Metni tek satırda tutar */
    /* width: 100%; */
    font-size: 21px;
    font-weight: bold;
}