.saha {
    background-image: url("/images/other/saha.png");
    /* background-size: cover; */
    /* background-position: center; */
    background-repeat: no-repeat;
}

.taktics-card {
    align-items: center;
    position: absolute;
    width: 100px;
    height: 100px;
}

.taktics-card:hover {
    transform: scale(1.07);
    /* background: linear-gradient(135deg, rgb(220, 233, 236), rgb(200, 213, 216)); */
    /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); */
}


.squad:hover .whiteText {
    background-color: inherit;
    /* Squad hover rengini miras alacak */
}


.back {
    /* background-image: url("/images/other/background.png"); */
    /* background-size: cover; */
    background-color: rgb(33, 33, 33);
}

.whiteText {
    color: rgb(206, 254, 213);
}

.textTactik {
    font-weight: bold;
    color: white;
    font-size: 15px;
}

.yaziClasicc {
    font-weight: bold;
    color: rgb(40, 18, 18);
    font-size: 15px;
    text-decoration: none;
}

.yaziClasicc a {
    font-weight: bold;
    color: rgb(40, 18, 18);
    font-size: 15px;
}

.yellowText {
    background-color: black;
    color: rgb(30, 242, 104);
    font-weight: bold;
}

.attackers {
    background-color: rgba(255, 199, 206, 0.7);
    color: rgb(156, 0, 6);
}

.middfielders {
    background-color: rgba(189, 215, 238, 0.7);
    color: rgb(31, 78, 120);
}

.deffenders {
    background-color: rgba(251, 255, 21, 0.7);
    color: rgb(156, 101, 0);
}

.goalkeppers {
    background-color: rgba(198, 239, 206, 0.7);
    color: rgb(0, 97, 0);
}

.attacker {
    color: rgb(156, 0, 6);
}

.middfielder {
    color: rgb(31, 78, 120);
}

.deffender {
    color: rgb(156, 101, 0);
}

.goalkepper {
    color: rgb(0, 97, 0);
}


.st_position {
    top: 5px;
    left: 307px;
}

.amr_position {
    top: 60px;
    left: 480px;
}

.aml_position {
    top: 60px;
    left: 135px;
}

.amc_position {
    top: 110px;
    left: 307px;
}

.mc_position {
    top: 200px;
    left: 405px;
}

.dm_position {
    top: 200px;
    left: 210px;
}

.dl_position {
    top: 290px;
    left: 70px;
}

.dr_position {
    top: 290px;
    left: 550px;
}

.dcr_position {
    top: 320px;
    left: 220px;
}

.dcl_position {
    top: 320px;
    left: 405px;
}

.gk_position {
    top: 400px;
    left: 307px;
}